@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

:root{
    --Primary-blue-color:#4d79ff;


}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Montserrat';
    
    
}

body{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: rgb(236, 233, 233);
    /* flex-wrap:wrap; */
    
}



header{
    background-image:url(./images/hero-cover.png);
    background-size: cover;
    background-repeat: no repeat;
    width:100vw;
    /* border:2px solid red; */
    display:flex;
    flex-direction: column;
    height:60vh;

}

.top-bar{
    display:flex;
    flex:.95;
    justify-content: space-between;
    /* border:2px solid blue; */
    align-items:center;
    padding:0.4rem;
    margin:1rem;
}
.links,.login-sign-up-wrapper{
    display:flex;
    
}
.logo{
    font-size:1.5rem;
    font-weight: 700;
}

.links{
    /* justify-content: space-around; */
    gap:.6rem;

}
.links>a{
    text-decoration: none;
    color:white;
}

.login-sign-up-wrapper{
    gap:1rem;
    /* border:2px solid red; */
    color:white;
    align-items: center;
}
.login:hover{
    text-decoration: underline;
  
}
.login-sign-up-wrapper>.sign-up{
    background-color:var(--Primary-blue-color);
    padding:0.5rem;
    display: flex;
    gap:0.2rem;
    align-items: center;
    cursor: pointer;

}
.sign-up>p{
    cursor: pointer;
}
.sign-up:hover{
    background-color: transparent;
    text-decoration: underline;
}

.title-wrapper{
    display: flex;
    flex-direction:column;
    color:white;
    /* border:2px solid red; */
    width:70%;
    margin: 5rem auto;
    text-align:center

}
.title-wrapper>h3{
    font-size:2.5rem;
}
.title-wrapper>p{
    padding:1rem;

}
.quote-learn-more-wrapper{
    display:flex;
    justify-content:center;
    margin:20px;
    gap:1rem;
    /* border: 2px solid red; */
    align-items: center;
}
.quote-learn-more-wrapper>.quote-button,.quote-learn-more-wrapper>.learn-more-button{
    border: 2px solid white;
    border-radius:1.5rem;
    padding:1rem;
    
}

.quote-learn-more-wrapper>.quote-button:hover,.quote-learn-more-wrapper>.learn-more-button:hover{
    background-color: var(--Primary-blue-color);
}

.header-cards{
    width:100%;
    display:flex;
    justify-content:center;
    /* border:2px solid red; */
    height:25vh;
    margin:.5rem;
    gap:1rem;
}
.peace-set-satisafaction-2{
    height:80vh;
}
.peace,.set,.satisfaction{
    display:flex;
    flex-direction: column;
    /* border:.1px solid white; */
    color:black;
    padding:1rem;
    text-align:left;
    font-size:.8rem;
    justify-content: center;
    box-shadow: 2px 2px 2px gray;


}

.peace,.set,.satisfaction{
    background-color: white;
}
.peace:hover,.set:hover,.satisfaction:hover{
     background-color: var(--Primary-blue-color);
}
.empty-div{
    background-color: rgb(253, 250, 250);
    width:100%;
    height:20vh;
    z-index:-1;
}

.peace-set-satisafaction-2{
    width:100%;
    display:flex;
    justify-content:center;
    /* border:2px solid red; */
    height:30vh;
    /* margin:.5rem; */
    gap:1.2rem;
    background-color:white;
    align-items: center;
    
}
.industry-wrapper{
    /* display: flex; */
    /* flex-direction:column; */
    width:100%;
    /* border:1px solid green; */
    justify-content: center;
    height:57vh;
    padding:1rem;

}
.industry-cards{
    
    width:100%;
    height:100vh;
    display:flex;
    justify-content: space-evenly;
    /* margin-top:1.5rem; */
    margin-bottom: 1.5rem;
    padding:1rem;
 
}

.industry-description{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:.9rem;
    gap:1rem;
}

.industry-card-1{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    width:20%;
    height:300px;
    font-size: .8rem;
    text-align: center;
    border: .5px solid gray;
    background-color: white;
}
.industry-card-1>img{
    padding-top:0.5rem;
}
.industry-card-1>img{
    width:150px;
    height:150px;

}
.vector-wrapper{
    width:95%;
    height:22vh;
    display:flex;
    padding: 2rem;
    justify-content:space-evenly;
    align-content: center;
    margin:6rem auto;
}
.vector-wrapper>img{
    height:50px;
    width:50px;
}

.subscribe{
    /* border:2px solid red; */
    width:95%;
    height:15vh;
    display:flex;
    justify-content:center;
    gap :40px;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.subscribe-headline{
    flex:0.5;
    /* border:2px solid blue; */
    display:flex;
    align-items:center;
    color:white;
    padding:.5rem;
}
.subscribe-form{
    display:flex;
    align-items:center;
    /* border:2px solid green; */
    flex:0.5;
}

.subscribe-form>input{
    width:70%;
    height:70%;
}

.subscribe-form>button{
    width:20%;
    height:70%;
    color:white;
    background-color:var(--Primary-blue-color);
    outline:none;
    border:none;
    

}
.subscribe-form>button:hover{
    color:black;
    background-color: white;
}

.pricing{

    margin:1rem;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:2rem;
    text-align: center;

}
.pricing-cards{
  
    margin:3.5rem;
    display: flex;
    justify-content: center;
    width:80%;
    height:100vh;
    
}


.pricing-card1{
    border:.5px solid var(--Primary-blue-color);
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:1rem;
    width:33%;
    border-radius: 4%;
    margin:.5rem;
    height:100%;
    
}
.branches-world-wrapper{
    display: flex;
    flex-direction: column;
  
}
.branches-wrapper{
    display:flex;

}
.price-wrapper{
    display:flex;
    justify-content:center;
    gap:4px;
}
.price-figure{
    font-size:1.5rem
    
}

.price-figure,.dollar-sign,.price-plan{
    color:var(--Primary-blue-color);
    font-weight:700;
}
.dollar-price-plan{
    display: flex;
    
    flex-direction: column;
}

.plan-features{
    list-style-type: none;
    display:inline-block;
    
}
li{
    padding:14px;
    
}
.price-button{
    background-color: var(--Primary-blue-color);
    color:white;
    padding:.5rem;
    margin:1rem;
    cursor:pointer;
}
.price-button:hover{
    background-color: white;
    color:black;
    border:2px solid black;
    
}

#standard:hover,#free:hover,#premium:hover{
    background-color: rgb(46, 46, 77);
    color:white;
    height:90%;
    
}
#free,#premium,#standard{
    height:90%;
}
.branches-world-wrapper{
    width:100%;
    height:60vh;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(46, 46, 77);
    padding:2rem;
    gap:6rem;
  
}

.branches,.pingwig-map{
    flex:0.45
}
.branches-wrapper{
    height:20vh;
   
}
.branches{
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pingwig-map>img{
    width:90%;
    height:60%;
}
.book-form-wrapper{
    display: flex;
    justify-content: center;
    height:60vh;
    width:60%;
    margin:-10rem;
   
}
.book-form-wrapper>img{
    flex:0.2;
    height: 100%;
    
}

.book-form-wrapper>form{
    flex:0.7;

}
form{
    background: white;
    color:black;
    display:flex;
    align-items:center ;
    flex-direction: column;
    padding:1rem;
    height: 100%;
    border:7px solid white;
    

    

}
form>input,form>select{
    width:80%;
    height:4rem;
    background-color: rgb(248, 246, 246);
    outline:none;
    border:.9px solid;
  
}
input:placeholder{
    color:gray
}
.appointment-btn{
    width:80%;
    color:white;
    background-color: var(--Primary-blue-color);
    padding: 1rem;
    margin:1rem;
    text-align: center;
    cursor:pointer
}
.appointment-btn:hover{
    color:black;
    border:2px solid black;
    background-color: transparent;
}

.contact-us{
    padding:1rem;
    color:white;
    background-color: var(--Primary-blue-color);
    cursor:pointer;

}
.consulting-contact-btn-wrapper{
    width:100%;
    margin-top:15rem;
    margin-bottom:3rem;
    display:flex;
    justify-content: space-between;
    padding:1rem;
    background-color: rgb(245, 245, 245);

}
.consulting-wrapper>h3{
    margin-bottom:.5rem;
}
.footer{
    display:flex;
    width:100%;
    justify-content:space-between;
    background-color: rgb(245, 245, 245);
    height:50vh;
    padding:1rem
}
.footer1{
    height:100%
}
.footer1>ul{
    list-style: none;
    
    
}

@media screen and (max-width:720px){
    body{
        width:100%;
        font-size:0.9rem;
    }
    header{
        display:flex;
        width:100%;
        height:300%;
        flex-grow: 1;
        justify-content:center;
        align-items: center;
    }
    .top-bar,.links{
        flex-direction:column;
        flex-wrap: wrap;
        
        
    }
    

    .pricing-cards{
        width:100%;
    }
    .header-cards{
        position: sticky;
        width:100%;
        flex-wrap:wrap;
        flex-grow:1;
    }
    .empty-div{
        display:none;
    }
    .peace-set-satisafaction-2{
        flex-wrap:wrap;
        margin:4rem auto;
        height:60vh
    }
    .industry-cards{  
        flex-direction: column;
        margin-top:15rem;
        margin-bottom: 5rem;
        gap:1rem
    }
    .industry-card-1{
        width:100%;
        flex-direction: column;
    }
    .vector-wrapper{
        margin-top:40rem;
        width:90%;
        flex-wrap: wrap;
    
        /* flex-direction: column; */
        align-items: center;
        
        /* border: 2px solid red; */
        
    }
    .vector-wrapper>img{
        width:40px;
        height:40px;
    }
    .subscribe{
        flex-direction:column;
        width:100vw;
        justify-content: center;
        align-items: center;
        height:20rem;
       
    }
    .subscribe-headline{
        font-size:14px;
    }
    .subscribe-form{
        height:5rem;
        margin-bottom: 1.2rem;
    }
    .subscribe-form>input,.subscribe-form>.subscribe-btn{
        width:120%;
        padding:.9rem;
        flex:0.5;
    }
   
    .subscribe-form{
       flex-direction: column;
       width:50%;
       gap:10px;
    }
    .pricing{
        height:250vh;
        width:100%;
        
       
    }
    .pricing-cards{
        flex-direction: column;
        height:500vh;
     
        
    }
    .pricing-card1{
        height:100vh;
        width: 90%;
    
    }
    .branches-world-wrapper{
        height:100vh;
        width:100%;
    }
    .branches-wrapper{
        margin-top: 5rem;
        width:100%;
    }
    .book-form-wrapper{
        width:100%;
        flex-direction: column;
        height:200vh;
        margin-bottom: 1.5rem;
        
        
    
    }
    .consulting-contact-btn-wrapper{
        margin-top: 15rem;
        flex-wrap: wrap;
    }
    .footer{
    
        flex-direction: column;

        height:160vh;
        align-items:center;
    }
    @media screen and (max-width:588px){
        .consulting-contact-btn-wrapper{
            margin-top: 15rem;
           
        }
    }

    @media screen and (max-width:330px){
        body{
            font-size:0.8em
        }
        .branches-world-wrapper{
            flex-direction: column;
            font-size:0.8rem;
            margin-top:10rem;
            /* margin-bottom: -80rem; */
            
        
        }
        .branches-wrapper{
            flex-direction: column;

        }
        .consulting-contact-btn-wrapper{
            margin-top: 2rem;
        }
    }

    @media screen and (max-width:310px){
        .industry-wrapper{
            margin-top: 5rem;
            /* border:2px solid red; */
        }
        .vector-wrapper{
             margin-top:52rem;
             margin-bottom: -3;
             width:100%;
             /* height: 100vh; */
             flex-direction: column;
        }
        .vector-wrapper>img{
            width:15px;
            height:15px;
        }
    }
}